{% load staticfiles %}
<!DOCTYPE html lang="ja">
<html>

<head>
  <title>a</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
</head>

<body class="mdc-typography">
  <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <div id="demo-menu" class="mdc-menu-surface--anchor">
          <button id="menu-button" class="material-icons mdc-top-app-bar__navigation-icon" onclick="a()">menu</button>
          <div class="mdc-menu mdc-menu-surface" tabindex="-1">
            <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
              <li class="mdc-list-item" role="menuitem">
                <span class="mdc-list-item__text">
                  <a href="{% url 'job' %}">職業を新たに作る</a>
                </span>
              </li>
              <li class="mdc-list-item" role="menuitem">
                <span class="mdc-list-item__text">
                  <a href="{% url 'jobchange' %}">過去の職業から選ぶ</a>
                </span>
              </li>
              <li class="mdc-list-item" role="menuitem">
                <span class="mdc-list-item__text">
                  <a href="{% url 'jobname' %}">職業の名前を変える</a>
                </span>
              </li>
              <li class="mdc-list-item" role="menuitem">
                <span class="mdc-list-item__text">
                  <a href="{% url 'skill' %}">Skill Point　を割り振る</a>
                </span>
              </li>
              <li class="mdc-list-item" role="menuitem">
                <span class="mdc-list-item__text">
                  <a href="{% url 'signup' %}">名前を変える</a>
                </span>
              </li>
              <li class="mdc-list-item" role="menuitem">
                <span class="mdc-list-item__text">
                  <a href="{% url 'logout' %}">logout</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
        <span class="mdc-top-app-bar__title">Title</span>
      </section>

      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
        <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Download"
          alt="Download">file_download</a>
        <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Print this page"
          alt="Print this page">print</a>
        <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Bookmark this page"
          alt="Bookmark this page">bookmark</a>
      </section>
    </div>
  </header>

  <main>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell">
          <div class="mdc-card  card">
            <div class="up">
              <img src="{{ user.player.avatar }}" class="avatar">
              <p class="name">{{ user.player.name }}</p>
            </div>

            <div class="job">
              <p>Lv{{ job.level }}/職業:{{ job.name }} / 説明:{{job.explain}}</p>
              <p>Skill Point {{ job.skillpoint }}pt</p>
            </div>

            <br>

            <a href="{% url 'task' %}">task の記録</a>

          </div>
        </div>

        <div class="mdc-layout-grid__cell">
          {% for task in tasks %}
          <div class="mdc-layout-grid__cell mdc-card mdc-elevation--z1 mdc-elevation-transition taskcard">
            <div class="mdc-card__primary-action content" tabindex="0">
              <p>{{ task.what }}</p>
            </div>
            <p class="content">{{ task.Job_num.name }}</p>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </main>

  <button class="mdc-fab mdc-elevation--z5 fabb" aria-label="Favorite" onclick="b()">
    <span class="mdc-fab__icon material-icons">timer</span>
  </button>

  <div id="input_dialog" class="mdc-dialog" role="alertdialog" aria-modal="true" aria-labelledby="my-dialog-title"
    aria-describedby="my-dialog-content">
    <div class="mdc-dialog__container">
      <div class="mdc-dialog__surface">
        <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
        <h2 class="mdc-dialog__title" id="my-dialog-title">
          <!--
       -->Write Your Task Here
          <!--
     -->
        </h2>
        <div class="mdc-dialog__content" id="my-dialog-content">
          <div class="mdc-text-field">
            <input type="text" id="my-text-field" class="mdc-text-field__input">
            <label class="mdc-floating-label" for="my-text-field"></label>
            <div class="mdc-line-ripple"></div>
          </div>
          <div class="mdc-text-field-helper-line">
            <div class="mdc-text-field-helper-text">helper text</div>
          </div>
        </div>
        <footer class="mdc-dialog__actions">
          <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">
            <span class="mdc-button__label">No</span>
          </button>
          <button type="button" class="mdc-button mdc-dialog__button" onclick="c()">
            <span class="mdc-button__label">Yes</span>
          </button>
        </footer>
      </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
  </div>

  <div id="time_dialog" class="mdc-dialog" role="alertdialog" aria-modal="true" aria-labelledby="my-dialog-title"
    aria-describedby="my-dialog-content">
    <div class="mdc-dialog__container">
      <div class="mdc-dialog__surface">
        <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
        <h2 class="mdc-dialog__title" id="d_title">
          <!--
       -->Start Timer
          <!--
     -->
        </h2>
        <div class="mdc-dialog__content">
          <h2 class="mdc-typography--headline2" id="num" align="center">0</h2>
        </div>
        <footer class="mdc-dialog__actions">
          <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">
            <span class="mdc-button__label">No</span>
          </button>
          <button type="button" class="mdc-button mdc-dialog__button" onclick="log_t()">
            <span class="mdc-button__label" id="run">START</span>
          </button>
        </footer>
      </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
  </div>

  <div id="send_dialog" class="mdc-dialog" role="alertdialog" aria-modal="true" aria-labelledby="my-dialog-title"
    aria-describedby="my-dialog-content">
    <div class="mdc-dialog__container">
      <div class="mdc-dialog__surface">
        <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
        <h2 class="mdc-dialog__title">
          <!--
     -->Send Your Task
          <!--
   -->
        </h2>
        <div class="mdc-dialog__content">
          Send your task. Are you OK?
        </div>
        <footer class="mdc-dialog__actions">
          <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">
            <span class="mdc-button__label">No</span>
          </button>
          <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes">
            <span class="mdc-button__label">SEND</span>
          </button>
        </footer>
      </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
  </div>

  <form>
    <input type="hidden" name="time" id="hid" value="0">
  </form>

  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <script>
    const menu = new mdc.menu.MDCMenu(document.querySelector('.mdc-menu'));

    function a() {
      menu.open = true;
    }
    const fabRipple = new mdc.ripple.MDCRipple(document.querySelector('.mdc-fab'));
    const dialog = new mdc.dialog.MDCDialog(document.querySelector('#input_dialog'));

    function b() {
      dialog.open()
    }

    const time_dialog = new mdc.dialog.MDCDialog(document.querySelector('#time_dialog'));

    function c() {
      time_dialog.open()
    }

    const send_dialog = new mdc.dialog.MDCDialog(document.querySelector('#send_dialog'));
    function d() {
      send_dialog.open()
    }

    const bar = new mdc.topAppBar.MDCTopAppBar(document.querySelector('.mdc-top-app-bar'));


    mdc.autoInit()
  </script>
  <script type="text/javascript" src="{% static 'main.js' %}"></script>
  <script type="text/javascript" src="{% static 'sub.js' %}"></script>
</body>

</html>