<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Sign up</h1>
    <form active="{% url 'signup' %}" method="post">
            {% csrf_token %}
        <p>名前<input type="text" name="namer" required maxlength="20"></p>
        <input type="submit" value="申請する"><input type="reset" value="書き直す">
    </form>
    <p><a href="{% url 'home' %}">やっぱやめる</a></p>
</body>
</html>